{% extends "crearcliente.html" %}
{% load static %}

{% block content %}
    <table  class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
            <th class="text-center"><font color="white">Apellido</font></th>
            <th class="text-center"><font color="white">Nombre</font></th>
            <th class="text-center"><font color="white">Edad</font></th>
            <th class="text-center"><font color="white">Email</font></th>
            <th class="text-center"><font color="white">Sexo</font></th>
            <th class="text-center"><font color="white">Opciones</font></th>
        </tr>
      </thead>
        {% for p in cliente %}

        <tr>
            <td class="text-center"><font face="Comic Sans MS,Arial,Verdana">{{ p.apellido }}</font></td>
            <td class="text-center"><font face="Comic Sans MS,Arial,Verdana">{{ p.nombre }}</font></td>
            <td class="text-center"><font face="Comic Sans MS,Arial,Verdana">{{ p.edad }}</font></td>
            <td class="text-center"><font face="Comic Sans MS,Arial,Verdana">{{ p.email }}</font></td>
            <td class="text-center"><font face="Comic Sans MS,Arial,Verdana">{{ p.sexo }}</font></td>
            <td class="text-center"><a class="nav-link" href="{% url 'modificarcliente' p.id %}"><u><font color="#adff2f">Modificar</font></u></a></td>
            <td class="text-center"><a class="nav-link" href="{% url 'eliminarcliente' p.id %}"><u><font color="red">Eliminar</font></u></a></td>


        </tr>

         {% endfor %}
    </table>

  {% endblock %}