{% extends "usuario.html" %}
{% load static %}
{% block content %}
    <h2><div class="text-center"><font color="red">Modificar cliente</font></div></h2>
    <form method="POST" >
        <div class="was-validated">
            <div class="form-group">
                {% csrf_token %}
                    <div class="text-center form-control form-group container "><div class="form-control"><font color="black">{{ form.as_p }}</font></div></div>
                    <div class="text-center"><button type="submit" class="btn btn-success left btn-dark" >Modificar cliente</button></div>
            </div>
        </div>
    </form>
{% endblock %}